{% load static %}
<!DOCTYPE html>
<html lang="ky">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yй тойуна чакыруу</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;600&family=Spectral:wght@400;500&display=swap" rel="stylesheet">

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>

<div class="bg-ornament"></div>

<header class="hero">
  <span class="eyebrow" data-aos="fade-down">Ак-өрго тойуна</span>
  <h1 data-aos="fade-up">Чакыруу</h1>
  <div class="divider"></div>
</header>

<section class="section" data-aos="fade-up">
  <p class="poetry">
    Урматтуу сыйлуу конокторубуз,<br>
    Ак тилек, ак батаңыздарды<br>
    жүрөгүбүз менен күтөбүз.<br><br>

    Чын ниеттен даам сызылып,<br>
    берекелүү дасторкондо<br>
    жолугушабыз деген ишенимдебиз.
  </p>
</section>

<section class="section accent" data-aos="fade-up">
  <h2>Той салтанаты</h2>
  <p>
    2026-жылдын 7-февралы<br>
    Саат 16:00
  </p>
</section>

<section class="section" data-aos="fade-up">
  <h2>Дареги</h2>
  <p>
    Бишкек шаары<br>
    Uluu Too-Zeta, рестораны<br>
    Баба-Ата көчөсү, 87
  </p>

  <a
    href="https://2gis.kg/bishkek/firm/70000001092670342?m=74.56386%2C42.826861%2F16"
    target="_blank"
    class="map-link">
    Даректи 2ГИСтен ачуу
  </a>
</section>

<section class="section accent" data-aos="fade-up">
  <h2>Той ээлери</h2>
  <p class="owners">
    Асель • Өмурбек • Айдын<br>
  </p>
</section>

<section class="section" data-aos="fade-up">
  <h2>Катышууну ырастаңыз</h2>

  <form method="post">
  {% csrf_token %}

  <input
    type="text"
    name="name"
    placeholder="Атыңыз"
    required
  >

  <select name="status" required>
    <option value="">Мен...</option>
    <option value="Келем">Келем</option>
    <option value="Келе албайм">Келе албайм</option>
  </select>

  <!-- 🔥 ВАЖНО: name="message" -->
  <textarea
    name="message"
    placeholder="Каалоо же кошумча маалымат (милдеттүү эмес)"
    rows="4"
  ></textarea>

  <button type="submit">Жооп жөнөтүү</button>
</form>

</section>

<audio id="bg-music" preload="auto" loop>
  <source src="{% static 'main/audio/toy.mp3' %}" type="audio/mpeg">
</audio>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{% static 'main/js/animations.js' %}"></script>

</body>
</html>
